 @import url('https://fonts.googleapis.com/css?family=Montserrat|Righteous|Maven+Pro|Abel|Aleo|Open+Sans+Condensed:300|Oswald|Thasadith');

body {
	margin: 0px;
}

 .headerActivityPage {
	background-color: black;
	display: flex;
	justify-content: flex-end;
	width: 100%;

}

.nameOfSite {
	margin: 0px 20px 0px 20px;
	padding: 0px;
	margin-right: auto;
}

.nameOfSite-a {
	text-decoration: none;
}

.nameOfSite-h1 {
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.dropbtn
{
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.newSets-navBar {
	margin-right: 20px;
}

.createNewSet {
	display: inline-block;
}

.sideNavBar {
	display: inline-block;
}

.container-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #86ACDE;
	width: 100%;
}

.searchSets-outer {
	margin: 50px;
	width: 85%;
}

.searchSetsDiv-h2 {
	/* color: hsla(0, 0%, 100%, 0.86);
	   opacity: 0.9; 
	*/
	color: white;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 40px;
}

.searchBar-inDiv {
	border-bottom: solid #2F4F4F 2px;
}

.searchBar-Input {
	width: 100%;
	border: 0;
	padding: 5px 0px 10px 0px;
	background-color: #86ACDE;
}

input:focus, textarea:focus {
    outline: none; /** For Safari, etc **/
    border:1px solid gray; /** For Firefox **/
}

input[type="text"].searchBar-Input::placeholder {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.container-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F7F8F8;
	width: 100%;
}
.flashcardSet-1 {
	background-color: white;
	width: 80%;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	margin: 15px 0px 15px 0px;
}

.flashcardSetName {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #696969;
}

/*
	THE CSS BELOW IS INTENDED FOR FILENAME "flashcardAppCreateNewSet.html"
*/

.createNewSet-outer {
	margin: 30px;
	width: 85%;
}

.createNewSetsDiv-h2 {
	/* color: hsla(0, 0%, 100%, 0.86);
	   opacity: 0.9; 
	*/
	color: white;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 50px;
}

.newSetName-inDiv {
	border-bottom: solid #2F4F4F 2px;
}

.newSetName-Input {
	width: 100%;
	border: 0;
	padding: 5px 0px 10px 0px;
	background-color: #86ACDE;
}

input:focus, textarea:focus {
    outline: none; /** For Safari, etc **/
    border:1px solid gray; /** For Firefox **/
}

input[type="text"].newSetName-Input::placeholder {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.container-flashCreate-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #F7F8F8;
}

.flashForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.newCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85%;
	margin: 20px;
	background-color: white;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.Term-Definition {
	
}

.Term {
	display: inline-block;
	margin: 15px;
}

.newCard-Term {
	border: 0;
	border-bottom: solid #2F4F4F 2px;
	font-family: 'Montserrat', sans-serif;
}

.Term-h3 {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

.Definition {
	display: inline-block;
	margin: 15px;
}

.newCard-Definition {
	border: 0;
	border-bottom: solid #2F4F4F 2px;
	font-family: 'Montserrat', sans-serif;
}

.Definition-h3 {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

.hidden {
	display: none;
}

.addNewCard {
	display: block;
	text-align: center;
	width: 85%;
	margin: 5px;
	background-color: white;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.addCardButton {
	padding: 5px;
	background-color: white;
	margin: 10px;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 1000;
	cursor: pointer;
}

.sendButton {
	width: 120px;
	margin: 20px 40px 20px 0;
	padding: 5px;
	border: 0;
	background-color: white;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	text-align: center;
	margin-left: auto;
}

#sendButton {
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}

/*
	THE CSS BELOW IS INTENDED FOR USE WITHIN THE FILENAME "flashcardAppCreateNewSet-success.ejs"
	
	<!--
		<table>
			<% for(var key in data) { %>
				<tr>
					<td> <%= key %> </td>
					<td> <%= data[key] %> </td>
				</tr>
			<% } %>
		</table>
	-->

*/

.div-setName {
	width: 80%;
}
.setName-inSuccessPage {
	margin: 40px;
	color: white;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	background-color: grey;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	margin: 10px;
	cursor: pointer;
}
	/* flip the pane when hovered

		1. INCLUDE THIS IF I WANT THE CARD TO FLIP 
		   WHEN HOVERED: .flip-container:hover .flipper, 

	*/
	.flip-container.hover .flipper, .flip-container.flip .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 350px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.cardButtons {
	display: inline-block;
	width: 25%;
	text-align: center;
}

.previousButton, .nextButton {
	background-color: grey;
	margin: 15px;
	border: 0;
	width: 15px;
	height: 15px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	cursor: pointer;
}

/* CSS for home.ejs */

.headerActivityPage-home {
	display: flex;
	position: fixed;
	flex-direction: row;
	align-items: flex-end;
	align-content: center;
	width: 100%;
	height: 50px;
	z-index: 20;
}

.keyline-home-0, .keyline-home-1 {
	position: fixed;
	width: 95%;
	height: 1px;
	z-index: 20;
}

.keyline-home-0 {
	background-color: white;
	margin-top: 5px;
}

.keyline-home-1 {
	background-color: white;
	margin-top: 45px;
}

.login-signUp {

}

.login-a, .signUp-a {
	display: inline-block;	
}


.inner-login {
	/*background-color: #E00F47;*/
	background-color: transparent;
	color: white;
	font-size: 12px;
	width: 70px;
	height: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.inner-signUp {
	background-color: transparent;
	color: white;
	font-size: 12px;
	width: 70px;
	height: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	border: solid white 1px;
	padding-top: 3px;
}

.home-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #D6CCCC;
	width: 100%;
	/*background-color: #86ACDE;*/
}

.inner-container-0 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0px;
}


.inner-container-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	margin: 0px;
	position: relative;
	z-index: 1;
}


.inner-container-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0px;
}

a {
	text-decoration: none;
	color: white;
}

.first-img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-bottom: solid white 5px;
}

.home-img-div {
	width: 75%;
	margin-top: -180px;
}

.home-img-text {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 18px;
	color: white;
	white-space: nowrap;

	/*color: #3E3E3E;*/
}

.home-img-separator {
	background-color: #E00F47;
	width: 90px;
	height: 4px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.home-img-text2 {
	font-family: 'Thasadith', sans-serif;
	text-align: center;
	font-size: 14px;
	color: white;
}

.second-img {
	margin-top: 5px;
	max-width: 100%;
	height: auto;
	border-bottom: solid white 5px;
	object-fit: cover;
}

.home-logOn-explain-div {
	width: 75%;
	height: 100px;
	border-radius: 2px;
	margin: 70px auto;
	display: block;
	position: absolute;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.home-logOn-register {
	font-size: 14px;
	font-family: 'Thasadith', sans-serif;
	color: white;
	text-align: center;
	white-space: nowrap;
}

.home-logOn-explain-div-1 {
	width: 75%;
	height: 80px;
	border-radius: 2px;
	margin: 160px auto;
	display: block;
	position: absolute;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	border: solid white 1px;
	background: rgba(204, 204, 204, 0.3);
}

.home-logOn-explain-1 {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
	white-space: nowrap;
}

.home-logOn-div {
	background-color: #E00F47;
	width: 75%;
	height: 80px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	margin-top: 0px;
	border: solid white 1px;
	border-radius: 2px;
	z-index: 10;
	display: block;
	position: absolute;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	/*background: rgba(204, 204, 204, 0.3);*/
}

.home-logOn-div h3 {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 30px;
	/*color: #2F2F2F;*/
	color: white;
}

.third-img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-bottom: solid white 5px;
}

.home-term-explain-div-1 {
	width: 75%;
	height: 80px;
	border-radius: 2px;
	margin-top: 100px;
	margin-bottom: 5px;
	display: block;
	background: rgba(204, 204, 204, 0.3);
}

.newCard-home {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 85%;
	margin: 10px 20px 10px 20px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	border: solid white 1px;
}

.Term-Definition-home {
	
}

.Term-home {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 15px;
}

.newCard-Term-home {
	display: block;
	border: 0;
	border-bottom: solid white 2px;
	font-family: 'Montserrat', sans-serif;
	background-color: transparent;
}

input[type="text"].newCard-Term-home::placeholder, input[type="text"].newCard-Definition-home::placeholder {
	color: white;
}

.Term-h3-home {
	display: block;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.Definition-home {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 15px;
}

.newCard-Definition-home {
	display: block;
	border: 0;
	border-bottom: solid white 2px;
	font-family: 'Montserrat', sans-serif;
	background-color: transparent;
}

.Definition-h3-home {
	display: block;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

/* Flip CSS for card on home.ejs, slightly different than on success page */
.flip-container-home {
	perspective: 1000px;
	background-color: transparent;
	margin: 10px;
	cursor: pointer;
}
	/* flip the pane when hovered

		1. INCLUDE THIS IF I WANT THE CARD TO FLIP 
		   WHEN HOVERED: .flip-container:hover .flipper, 

	*/
	.flip-container-home.hover .flipper-home, .flip-container-home.flip .flipper-home {
		transform: rotateY(180deg);
	}

.flip-container-home, .front-home, .back-home {
	width: 350px;
	height: 300px;
}

/* flip speed goes here */
.flipper-home {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front-home, .back-home {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front-home {
	border: solid white 1px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back-home {
	border: solid white 1px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	transform: rotateY(180deg);
}

.frontCard-home, .backCard-home {
	color: white;
	text-align: center;
	font-size: 24px;
	margin-top: 100px;
}

.cardButtons-home {
	width: 75%;
	text-align: center;
}

.previousButton-home, .nextButton-home {
	background-color: transparent;
	margin: 0 20px 30px 20px;
	padding: 20px;
	border: 0;
	width: 15px;
	height: 15px;
	cursor: pointer;
	color: white;
	font-size: 35px;
	text-align: center;
}

.fas {
	padding-right: 10px;
}

.sendButton-home {
	display: flex;
	width: 85%;
	text-align: center;
}

#sendButton-home {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	border: solid white 1px;
	margin-left: auto;
}


/* MEDIA QUERIES */

/* iPhone resolution or less */
@media only screen and (max-device-width: 480px) {

.Term-home {
	width: 39%;
	margin-right: 21px;
}

.Definition-home {
	width: 39%;
}
	
}










