<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title> Create New Set </title>
	<link type="text/css" rel="stylesheet" href="flashcardApp.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script src="flashcardCreateNewSet.js" async> </script>
	</head>
<body>
	<header class="headerActivityPage">
		<div class="nameOfSite">
			<a class="nameOfSite-a" href="flashcardAppIndex.html"> 
				<h1 class="nameOfSite-h1"> Flashcard App </h1>		
			</a>
		</div>
		<div class="newSets-navBar">
			<div class="createNewSet">
				<a class="createNewSet-a" href="flashcardAppCreateNewSet.html"> 
					<button class="dropbtn"> <i class="far fa-plus-square"></i>
					</button>
				</a>
			</div>
			<div class="sideNavBar">
				<a class="sideNavBar-a" href="">
					<button class="dropbtn"> <i class="fas fa-bars"></i> 
					</button>
				</a>
			</div>
		</div>
	</header>	
	<div class="container-1">
		<div class="createNewSet-outer">
			<div class="createNewSets-Div">
				<h2 class="createNewSetsDiv-h2"> Create your new set  </h2>
				<div class="newSetName-inDiv">
					<input class="newSetName-Input" type="text" placeholder="Write it's name here"/>
				</div>
			</div>
		</div>		
	</div> 
	<div class="container-2" id="container-2">
			<div class="newCard" id="newCard">
				<div class="Term-Definition">
					<div class="Term">
						<input class="newCard-Term" type="text" placeholder="Term"/>
						<h3 class="Term-h3"> Term </h3>
					</div>
					<div class="Definition">
						<input class="newCard-Definition" type="text" placeholder="Definition"/>
						<h3 class="Definition-h3"> Definition </h3>
					</div>
				</div>
			</div>
		
		<div class="addNewCard">
			<h3 class="addCardButton" id="addCardButton"> Add a card </h3>
		</div>
	</div>
</body>