<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title> User Sets </title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/flashcardApp.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<script src="events-newSet.js" async> </script>
		<script src="newSet-menu.js" async> </script>
		<script> 
			document.addEventListener('DOMContentLoaded', () => {
				//Sample data that I am using to test the flash card with
				//import {sampleData} from '/sampleData.js';

				/* The 4 variables below are queried to their respective element tags,
				 * the previousButton/nextButton variables are used to iterate back
				 * and forth between each set of key/value pairs within the JSON data
				 * that is being used, the frontCard/backCard variables represent the 
				 * data being displayed on the front/back card <h1> elements 
				 */
				var query = {
					previousButton: document.querySelector(".previousButton"),
					nextButton: document.querySelector(".nextButton"),
					frontCard: document.querySelector(".frontCard"),
					backCard: document.querySelector(".backCard")
				};

				/* I use arrayCount as my main iterator in order to go through the 
				 * keyValue_array array, which is a 2D array containing the keys from
				 * sampleData represented as key_data, and the values from sampleData
				 * represented as value_data
				 */
				var flipData = {
					strData: <%- JSON.stringify(data) %>,
					arrayCount: 0,
					key_data: function() {
						return Object.keys(this.strData).slice(2, Object.keys(this.strData).length - 2);
					},
					value_data: function() {
						return Object.values(this.strData).slice(2, Object.values(this.strData).length - 2);
					},
					keyValue_array: []
				};

				/*
				 * console.log(flipData.strData);
				 * console.log(flipData.key_data());
				 * console.log(flipData.value_data());
				 *
				 * The below I was using as tests previously
				 * console.log(key_data);
				 * console.log(value_data);
				 *
				 * for(let key in sampleData) {
				 * 	   console.log("Key name: " + key);
				 *	   console.log("Key's value: " + sampleData[key]);
				 * }
				 *
				 * console.log(createCardArray(key_data, value_data));
				*/

				function createCardArray(key, value) {
					for(var i = 0; i < key.length; i += 2) {
						var tempArray = [];
						tempArray.push(value[i]);
						tempArray.push(value[i + 1]);

						flipData.keyValue_array.push(tempArray);
				}
				return flipData.keyValue_array;
				}

				document.querySelector('.flip-container').addEventListener('click', function clickCard() {
					document.querySelector('.flip-container').classList.toggle('hover');
				}, false);

				createCardArray(flipData.key_data(), flipData.value_data());

				query.frontCard.textContent = flipData.keyValue_array[0][0];
				query.backCard.textContent = flipData.keyValue_array[0][1];

				document.getElementById('cardButtons').addEventListener('click', function(event) {
					var target = event.target;

					if(target.id === 'previousButton') {
						console.log(flipData.arrayCount);
						if((query.frontCard.textContent == flipData.keyValue_array[0][0]) && (query.backCard.textContent == flipData.keyValue_array[0][1])) {
							flipData.arrayCount = 0;
							console.log(flipData.arrayCount);
						} else {
							flipData.arrayCount--;
							console.log(flipData.arrayCount);
							query.frontCard.textContent = flipData.keyValue_array[flipData.arrayCount][0];
							query.backCard.textContent = flipData.keyValue_array[flipData.arrayCount][1];
						}
						
					} else if(target.id === 'nextButton') {
						if(flipData.arrayCount == flipData.keyValue_array.length - 1) {
							flipData.arrayCount == flipData.keyValue_array.length - 1;
							console.log(flipData.arrayCount);
						} else {
							flipData.arrayCount++;
							query.frontCard.textContent = flipData.keyValue_array[flipData.arrayCount][0];
							query.backCard.textContent = flipData.keyValue_array[flipData.arrayCount][1];
							console.log(flipData.arrayCount);
						}
					} else {
						console.log("You've reached an error, check out your code");
					}
				}, false);
			});
		</script>
	</head>
	<body>
		<div class="dropbtn-menu">
			<ul class="dbtn-menu-list">
				<a href="/profile"> <li> Your Sets </li> </a>
				<a href=""> <li> Settings </li> </a>
				<a href="/logout"> <li> Logout </li> </a>
			</ul>
		</div>
		<div class="container-1">
			<header class="headerActivityPage-home">
				<div class="header">
					<div class="nameOfSite">
						<a class="nameOfSite-a" href="/profile"> 
							<h1 class="nameOfSite-h1"> FlashPass </h1>
						</a>
					</div>
					<div class="newSets-navBar">
						<div class="createNewSet">
							<a class="createNewSet-a" href="/flashCreate"> 
								<button class="dropbtn"> 
									<i class="far fa-plus-square"></i>
								</button>
							</a>
						</div>
						<div class="sideNavBar">
							<div class="sideNavBar-a">
								<button class="dropbtn" id="newSet-menu"> <i class="fas fa-bars"></i> </button>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="div-setName">
				<h3 class="setName-inSuccessPage"> <%= data.setName %> </h3>
			</div>
			<div class="flip-container">
				<div class="flipper">
					<div class="front">
						<h1 class="frontCard">  </h1>
					</div>
					<div class="back">
						<h1 class="backCard">  </h1>
					</div>
				</div>
			</div>
			<div id="cardButtons" class="cardButtons">
					<button id="previousButton" class="previousButton"> </button>
					<button id="nextButton" class="nextButton"> </button>
			</div>
		</div> 
	</body>
</html>
