<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title> Success Page With Data </title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/flashcardApp.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script type="module" src="sampleData.js" async> </script>
	<script type="module" src="flipCard.js" async> </script>
	<!-- <script type="module" src="ajaxDoc.js" async> </script> -->

</head>
<body>
	<header class="headerActivityPage">
		<div class="nameOfSite">
			<a class="nameOfSite-a" href="/flashHome"> 
				<h1 class="nameOfSite-h1"> Flashcard App </h1>		
			</a>
		</div>
		<div class="newSets-navBar">
			<div class="createNewSet">
				<a class="createNewSet-a" href="/flashCreate"> 
					<button class="dropbtn"> <i class="far fa-plus-square"></i>
					</button>
				</a>
			</div>
			<div class="sideNavBar">
				<a class="sideNavBar-a" href="">
					<button class="dropbtn"> <i class="fas fa-bars"></i> 
					</button>
				</a>
			</div>
		</div>
	</header>	
	<div class="container-1">
		<div class="div-setName">
			<h3 class="setName-inSuccessPage"> aye </h3>
		</div>
		<div class="flip-container">
			<div class="flipper">
				<div class="front">
					<h1 class="frontCard">  </h1>
				</div>
				<div class="back">
					<h1 class="backCard">  </h1>
				</div>
			</div>
		</div>
		<div class="cardButtons">
				<button class="previousButton"> </button>
				<button class="nextButton"> </button>
		</div>
	</div> 
</body>
