<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title> Sucess Page With Data </title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/flashcardApp.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script type="module" src="flashcardCreateNewSet.js" async> </script>
	<script type="module" src="sampleData.js" async> </script>
	<!-- <script type="module" src="ajaxDoc.js" async> </script> -->

</head>
<body>
	<header class="headerActivityPage">
		<div class="nameOfSite">
			<a class="nameOfSite-a" href="/flashHome"> 
				<h1 class="nameOfSite-h1"> Flashcard App </h1>		
			</a>
		</div>
		<div class="newSets-navBar">
			<div class="createNewSet">
				<a class="createNewSet-a" href="/flashCreate"> 
					<button class="dropbtn"> <i class="far fa-plus-square"></i>
					</button>
				</a>
			</div>
			<div class="sideNavBar">
				<a class="sideNavBar-a" href="">
					<button class="dropbtn"> <i class="fas fa-bars"></i> 
					</button>
				</a>
			</div>
		</div>
	</header>	
	<div class="container-1">
		<table>
			<% for(let i = 0; i < data.length; i++) { %>
			<% let propTerm = "term-" + i; %>
			<% let propDef = "definition-" + i; %> 
				<tr>
					<td> <%= data[i].propTerm %> </td>
					<td> <%= data[i].propDef %> </td>
				</tr>
			<% } %>
		</table>
	</div> 
</body>
