<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=1"/>
	<title> FlashPass Home </title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/flashcardApp.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script src="exCard-home.js" async> </script> 
	<script src="events-home.js" async> </script>
	<!-- <script src="passCheck.js" async> </script> -->
</head>
<body>
	<div class="home-container">
		<div class="inner-container-0">
			<header class="headerActivityPage-home">
				<div class="header">
					<div class="nameOfSite">
						<a class="nameOfSite-a" href="/flashHome"> 
							<h1 class="nameOfSite-h1"> FlashPass </h1>
						</a>
					</div>
					<div class="newSets-navBar">
						<div class="login-signUp">
							<a class="login-a" href="/login">
								<h3 class="inner-login">
									Login
								</h3>
							</a>
							<a class="signUp-a" href="/signup">
								<h3 class="inner-signUp">
									Sign up
								</h3>
							</a>
						</div>
					</div>
				</div>
			</header>
			<img class="first-img" src="/images/janko-ferlic-174927-unsplash.jpg" alt="Tam background with cargo ship"/>
			<div class="home-img-div">
				<h2 class="home-img-text">
					Effortless UI design <br> granting learners a peaceful <br> approach to studying.
				</h2>
				<div class="home-img-separator">
				</div>
				<h3 class="home-img-text2">
					Using the built-in study interface of FlashPass, <br> studying is made easy.
				</h3>
			</div>	
		</div>
		<figure class="inner-container-1">
			<img class="second-img" src="/images/joanna-kosinska-470407-unsplash.jpg" alt="SF Pink Flower"/> 
			<div class="home-img-div-1">
				<figcaption class="home-logOn-explain-div-1">
					<h3 class="home-logOn-explain-1">
						Study new vocabulary, new ideas, or concepts.. 
					</h3>
					<div class="home-img-separator">
					</div>
				</figcaption>
				<figcaption class="home-logOn-explain-div">
					<h3 class="home-logOn-register">
						Generate flashcard sets of your own accord <br> or discover heplful sets from others.
					</h3>
				
				</figcaption>
			</div> 
		</figure>
		<div class="inner-container-2">
			<div class="home-logOn-div">
				<h3 class="home-logOn-register">
					 Imagine, create, practice.. <br> The potential is limitless, <br> Take learning into your own hands.
				</h3>
			</div>
			<div class="home-term-explain-div-1">
				<h3 class="home-logOn-explain-1">
					The build process of a new set is designed <br> to be navigated seamlessly. <br> Check out an example below:
				</h3>
			</div>
			<div class="home-img-separator">
			</div>
			<div class="newCard-home" id="newCard">
				<div class="Term-Definition-home">
					<div class="Term-home">
						<input id="term0" class="newCard-Term-home" type="text" name="term0" placeholder="Term"/>
						<h3 class="Term-h3-home"> Term </h3>
					</div>
					<div class="Definition-home">
						<input id="definition0" class="newCard-Definition-home" type="text" name="definition0" placeholder="Definition"/>
						<h3 class="Definition-h3-home"> Definition </h3>
					</div>
				</div>
			</div>
			<div class="newCard-home" id="newCard">
				<div class="Term-Definition-home">
					<div class="Term-home">
						<input id="term1" class="newCard-Term-home" type="text" name="term1" placeholder="Term"/>
						<h3 class="Term-h3-home"> Term </h3>
					</div>
					<div class="Definition-home">
						<input id="definition1" class="newCard-Definition-home" type="text" name="definition1" placeholder="Definition"/>
						<h3 class="Definition-h3-home"> Definition </h3>
					</div>
				</div>
			</div>
			<div class="sendButton-home">
					<h3 id="sendButton-home"> Submit </h3>
			</div>
			<div class="home-img-separator">
			</div>
			<div class="flip-container-home">
				<div class="flipper-home">
					<div class="front-home">
						<h1 class="frontCard-home"> Your example term here </h1>
					</div>
					<div class="back-home">
						<h1 class="backCard-home"> Your example definition here </h1>
					</div>
				</div>
			</div>
			<div id="cardButtons" class="cardButtons-home">
					<span id="previousButton-home" class="previousButton-home"> <i id="previousButton-home" class="fas fa-chevron-left"></i> </span>
					<span id="nextButton-home" class="nextButton-home"> <i id="nextButton-home" class="fas fa-chevron-right"></i> </span>
			</div>
		</div>
		<figure class="inner-container-3">
			<div class="home-logOn-div-bottom">
				<h3 class="logOn-register-msg">
					Sign up for a free account today !
				</h3>
			</div>
			<img class="third-img" src="/images/fabian-mardi-607722-unsplash.jpg" alt="SF Pink Flower"/>
				<form class="register-form" method="POST" action="/">
					<input id="register-email" class="register-email" type="text" name="email" placeholder="Email" required data-value-missing="This field is required!" pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$" title="Email must include an @"/>
					<input id="register-user" class="register-user" type="text" name="username" placeholder="Username" required minlength="3" maxlength="15" pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).*$" title="Please include at least 1 number"/>
					<input id="register-pass" class="register-pass" type="text" name="password" placeholder="Password" required data-value-missing="This field is required!"/>
					<input id="register-submit" class="register-submit" type="submit" value="Sign Up"/>
					<div class="register-login"> 
						<h3> Already registered? </h3>
						<a id="register-login-click" href="/login"> Login </a> 
					</div>
					<!-- <input id="register-passConf" class="register-passConf" type="text" name="passwordConf" placeholder="Confirm password" required data-value-missing="This field is required!"/> -->
				</form>
		</figure>
		<footer class="footer-home">
		</footer>
	</div>
</body>
</html>

<!-- 
<div class="home-logOn-explain-div">
				<h3 class="home-logOn-register">
					The built-in study interface of FlashPass <br> engages the brain effectively <br> through the facilitation of repetition.
				</h3>
			</div>
			<div class="home-logOn-div">
				<h3 class="home-logOn-register">
					Use repetition to your advantage <br> as it trains our metacognitive ability to ask questions that aid in our ability to reason <br> and think critically.
				</h3>
			</div>


ORIGINAL REGISTER FOR HOMEPAGE:
<div class="register-bar-header">
			<p class="register-bar-header-exit"> <i class="fas fa-times"></i> </p>
			<form class="register-form-header" class="validate" method="POST" action="/" >
				<input id="register-email-header" class="register-email-header" type="text" name="email" placeholder="Email" required data-value-missing="This field is required!" pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$" title="Email must include an @"/>
				<input id="register-user-header" class="register-user-header" type="text" name="username" placeholder="Username" required minlength="3" maxlength="15" pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).*$" title="Please include at least 1 number"/>
				<input id="register-pass-header" class="register-pass-header" type="text" name="password" placeholder="Password" required data-value-missing="This field is required!"/>
				<input id="register-submit-header" class="register-submit-header" type="submit" value="Sign Up"/>
			</form>
		</div>

ORIGINAL SIGNUP:
<div class="login-bar-header">
			<p class="login-bar-header-exit"> <i class="fas fa-times"></i> </p>
			<form class="login-form-header" class="validate" method="POST" action="/">
				<input id="login-email-header" class="login-email-header" type="text" name="logemail" placeholder="Email" required data-value-missing="This field is required!" pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$" title="Email must include an @"/>
				<input id="login-pass-header" class="login-pass-header" type="text" name="logpassword" placeholder="Password" required/>
				<input id="login-submit-header" class="login-submit-header" type="submit" value="Login Now" required/>
			</form>
		</div>
-->
